.listBox
    h1 Chiasmeras Collection
    table 
        thead
            tr
                th #
                th Image
                th Title 
                th 
                    p Players
                    p (recommended)
                th Playtime
        tbody
            - let count = 1
            each game, index in games
                tr
                    td #{index+1}

                    td 
                        a(href=`https://boardgamegeek.com/boardgame/${game.id}`, target="_blank")
                            img(src=game.thumbnail) 

                    td #{game.title}
                    
                    

                    if game.minPlayers === game.maxPlayers
                        td #{`${game.minPlayers}`}
                    else 
                        td #{`${game.minPlayers} - ${game.maxPlayers} (${game.bestPlayers})`}



                    if game.minTime === game.maxTime
                        td #{`${game.maxTime} min`}
                    else 
                        td #{`${game.minTime}-${game.maxTime} min`}
                    